#banks {
  margin: 5px 0 0 450px;
}

#banks p {
  line-height: 60%;
}

#whats_ywam {
  margin: 5px 0 0 450px;
}

.pastor {
  font-size: 10px;
  font-weight: normal;
}
.art-button {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'open sans condensed', 'open sans', sans serif;
  font-weight: 600;
  min-width: 200px;
  max-width: 95%;
  letter-spacing: -1px;
  transition: 300ms;
  max-width: 200px;
  border-radius: 2px;
  color: #fff !important;
  background: #28ae67;
  border: 4px solid #fff;
  text-align: center;
  margin-right: -60px;
  margin-top: 60px;
}
.art-button:hover {
  color: #fff !important; /*#222*/
  background: #1d804b;
  border: 4px solid #fff;
}
.menu-title-button {
  margin-top: 8px;
}
.banimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.mobileflag {
  background: url("../img/church/mex_flag.png") 0% 0% / 100% no-repeat fixed !important;
}

.home-title-button {
  margin-top: -100px;
}

.dominee {
  font-style: italic;
  font-size: 24px;
}

.mission-header {
	font-size:42px;
}

.mission-photo {
	padding: 20px;
}
