#banks {
  margin: 5px 0 0 450px;
}

#banks p {
  line-height: 60%;
}

#whats_ywam {
  margin: 5px 0 0 450px;
}

.pastor {
  font-size: 10px;
  font-weight: normal;
}
.art-button {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'open sans condensed', 'open sans', sans serif;
  font-weight: 600;
  min-width: 200px;
  max-width: 95%;
  letter-spacing: -1px;
  transition: 300ms;
  max-width: 200px;
  border-radius: 2px;
  color: #fff !important;
  background: #28ae67;
  border: 4px solid #fff;
  text-align: center;
  margin-right: -60px;
  margin-top: 60px;
}
.art-button:hover {
  color: #fff !important; /*#222*/
  background: #1d804b;
  border: 4px solid #fff;
}
.menu-title-button {
  margin-top: 8px;
}
.banimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.mobileflag {
  background: url("../img/church/mex_flag.png") 0% 0% / 100% no-repeat fixed !important;
}

.home-title-button {
  margin-top: -100px;
}

.dominee {
  font-style: italic;
  font-size: 24px;
}

.mission-header {
	font-size:42px;
}

.mission-photo {
	padding: 20px;
}

#grand {
	background:url(../img/church/banner3.jpg) no-repeat;
	background-size:100% 100%;
	height:670px;
}

.desktop-only a:hover,
.four a:hover {
	text-decoration: none;
	color:#00a35d;
}

.home-link:hover {
	text-decoration: none;
}

.social-buttons a
.social-buttons img {
	text-decoration:none;
}

.desktop-only > menu-link > a {
	text-decoration:none;
}
.desktop-only > menu-link > a:hover {
	color:#00a35d;
}

.help-block {

    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

#li_2, #formul {
	margin:0;
	padding:0; 
}

.subs {
	border: 1px solid #CCCCCC;
	padding:10px;
}